@import "titolo.css";
@import "commons.css";
@import "text.css";
@import "image.css";
@import "firma.css";

*{
    background-color: #FFFEF0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}